.contributor{
  font-family: var(--font-family-chat);
  grid-column:3/4;
  grid-row:1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  gap:4px;
  background-color: var(--bg-bl);
}

.contributor>h3{
  align-items: center;
  font-size: 1.6rem;
  padding: 0.8em 0;
  background-color: var(--nav-bg-color);
  border-radius: 0 3px;
}

.contributor>ul{
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: 0.9rem;
  font-weight: 500;
  gap:10px;
  padding: 1rem;

  overflow-y: scroll;
  scrollbar-color: var(--scroll-lg-bl) var(--scrol-bl);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.message{
  width: 100%;
  justify-content: start;
  gap: 6px;
}

.text-msg{
  width: 100%;
  flex-basis: 5;
}

.contributor>ul>li{

  padding-bottom: 8px;
  border-bottom: 1px solid rgb(176, 173, 173);

}

.msg_user{

  font-size: 0.8rem;
  width: 28px;
  aspect-ratio: 1/1;
  text-align: center;
  border-radius: 20px;
  background-color: var(--bg-user-cl);
  color: black;

}

.message_By_Me{

  text-align: right;
  cursor: pointer;
}

.message_By_Me:hover{

  .msg_upDel{
    display: flex;
  }

}

.msg_upDel{
  display: none;
  font-size: 0.8em;
  align-self:flex-end;
  gap:10px;
}

.msg_upDel>.fa-pen:active,.msg_upDel>.fa-trash:active{
  cursor: pointer;
  transform: scale(0.8);
}



.sendMessages{
  color: var(--txt-wt-color);
  background-color: var(--bg-lgt-bl);
  border-radius: 3px 0;
  gap: 4px;
}

#sendMessagesInput{
  width: 70%;
  height: 80%;
  border-radius: 0;
  margin-left: 2px;
  background-color: var(--bg-color-hd);
  box-shadow: none;
  padding: 0 0.6em;
}

.sendimg{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16%;
  height: 60%;

  background-color: #030303;
  border-radius: 35%;
  cursor: not-allowed;
}

.canSendMsg{
  cursor: pointer;
}
.canSendMsg:active{
  transform: scale(0.8);
}

.sendimg>img{
  height: 60%;
  width: 60%;
}

#chatMsgInput{

  background-color: var(--bg-lgt-bl);
  text-wrap: wrap;
  height: 32px;
  border-radius: 4px;

}
