@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=LXGW+WenKai+TC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=LXGW+WenKai+TC&family=Noto+Sans+KR:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --scrol-bl: #131314;
  --scroll-lg-bl:#444746;
  --bg-user-cl:#8881b3;
  --shadow-black:rgba(0, 0, 0, 0.2);

  --nav-bg-color:#121116;
  --bg-bl:#010101;
  --bg-lgt-bl:#121116;
  --bg-inp:#6B60BC;
  --bg-seleted:#181727;
  --int-bl:#1F2022;
  --txt-wt-color:#dad9d9;
  --txt-lgt-wt-color:#A09DB0;
--font-family-main-content: "Noto Sans KR","LXGW WenKai TC",sans-serif,cursive;
--font-family-chat: "LXGW WenKai TC",sans-serif,cursive;

  font-size: 0.9rem;
}

body{
  font-family: var(--font-family-main-content);
  font-weight: 400;

  color: var(--txt-wt-color);
  background-color: var(--bg-bl);

  display: grid;
  grid-template-columns: 1.5fr 6.5fr 2fr;
  grid-template-rows: 1fr 9fr;

  width: 100%;
  height: 100vh;
}

.bodyadd{
  position: relative;
  .main_task_board,.main_nav,.project_section,.contributor{
    filter: blur(5px);
    cursor: none !important;
    pointer-events: none;
  }
}

input{
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border:none;
}

input::placeholder{
  color: var(--txt-wt-color);
  font-weight: 600;
}

button{
  color: inherit;
  background-color: inherit;
  border: none;
}

input:hover{
  background-color: var(--scrol-bl);
  box-shadow: 2px 2px 4px var(--shadow-black);
}

a{
  text-decoration-line: none;
  color: inherit;
}

li{
  list-style-type: none;
}

input[type="text"] {
  color: var(--txt-wt-color);
}

.flex_display{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
}

.user_circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--bg-user-cl);
}

main{
  overflow-y: scroll;
  scrollbar-color: var(--scroll-lg-bl) var(--scrol-bl);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.main_task_board{
  grid-column:2/3;
  grid-row:2/3;

  display: grid;
  grid-area: 'main';
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 1fr 10fr;

  padding: 0 2rem;
}

.main_nav{
  grid-column:2/3;
  grid-row:1/2;
  justify-content: space-between;
  box-shadow: 0 2px 4px var(--shadow-black);
  padding: 0.74rem;
  background-color: var(--nav-bg-color);
  border-radius: 0 3px;
}

.Collaborative_Task{
  gap: 15px;
}

.Collaborative_Task>img{
  width: 40px;
}

.assigned_to>ul>li>span{
  font-size: 0.8rem;
}


.bigcard{
  padding: 0.6rem;
  display: grid;
  align-content: start;
  gap: 14px;
  position: relative;
  width: fit-content;
}

.bigcard>div{
  justify-content: flex-start;
  position: sticky;
  z-index: 3;
  background-color: var(--bg-bl);
  top: -0.1%;
  padding: 0.7em 2px;
}

.bigcard>ul{
 flex-direction: column;
 gap: 16px;
 width: fit-content;
}

.card{
  font-size: 0.9rem;
  font-weight: 400;
  width: 150px;
  height: 65px;
  justify-content: start;
  align-items: center;
  padding: 0.3em 0.6em;
  border-radius: 5px;
  background-color: var(--bg-lgt-bl);
  text-wrap: wrap;
  overflow: hidden;
}

.progress>ul>li{
  width: 153px;
  height: 66px;
  border-radius: 5px;
  position: relative;
}

.progress>ul>li>div{
  position: absolute;
}


.progress>ul>li>.card:hover{
  z-index: 2;
  overflow-y: visible;
  min-height: 65px;
  height: fit-content;

  text-align: start;
}


.inputcard{
  border: 2px solid var(--txt-wt-color);
  color: var(--txt-wt-color);
  background-color: var(--bg-lgt-bl);
  text-wrap: wrap;
}

.due_date>ul>.card{
  justify-content: space-evenly;
}

.fa-ellipsis-vertical{
  font-size: 1.1rem;
  cursor: pointer;
}

.due_date>ul>li{
  position: relative;
}

.more{
  display: none;
  gap: 6px;
  font-size: 0.9rem;
  background-color: var(--bg-bl);
  padding: 0.4em;
  border-radius: 5px;
  position: absolute;
  left: 15%;
}

.remove>i,.complete>i{
 font-size: 0.8rem;
 padding-right: 3px;
}

.remove:hover,.complete:hover{
  cursor: pointer;
  background-color: var(--bg-lgt-bl);
}

.more>div{
  padding: 0.18em 0;
  border-radius: 4px;
}

.newTask{
  position: absolute;
  background-color: var(--bg-inp);
  border-radius: 5px;
  padding: 0.5em 0.6em;
  font-weight: 600;
  text-wrap: nowrap;
  right: -24px;
  cursor: pointer;
}


.error{

  display: none;
  position: absolute;

  background-color: #eb3d3d;
  right: 22%;
  top: 11%;
  z-index: 5;

  align-items: center;
  justify-content: center;
  gap: 4px;

  padding: 0.4rem 0.2rem;
  width: 160px;
  border-radius: 6px;

  animation-name: error-display;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.error-img,.error-img>img{
  width: 44px;
  height: 44px;
}

.error-message{
  font-size: 0.9rem;
  flex-basis: 100%;
  font-weight: 480;
  color: #F6FFFE;
}

@keyframes error-display {
  10%   {
    top: 9%;
  }
  20%  {
    top: 7%;
  }
  30%  {
    top: 6%;
  }
  40%  {
    top: 5%;
  }
  50% {
    top: 4%;
  }
  60% {
    top: 3%;
  }
  70% {
    top: 2%;
  }
  80% {
    top: -2%;
  }
  90%{
    top: -4%;
  }
  100% {
    top: -6%;
  }

}

.scroll_bar_style{
  scrollbar-color: var(--scroll-lg-bl) var(--scrol-bl);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

/* Custome PlaceHolder */
.custom-placeholder {
  position: relative;
}

.custom-placeholder::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 30.6%;
  left: 14px;

  color: #999;
  opacity: 0.7;
  z-index: 20;

  transition: opacity 0.2s ease-in-out;
}
.custom-placeholder:empty::before {
  opacity: 1;
}

.custom-placeholder:focus::before {
  opacity: 0;
}